<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
  <!-- if current_instructor or current_student (defined in application controller) -->
  <!-- show username -->
  <!-- show link to log out -->
  <!-- else -->
  <!-- link_to log in and link_to sign up -->
  <%= yield :header %>
  </div>

  <div class="container">


  <%= yield %>
  </div>

</body>
</html>
