<p>Test Date: <%= @quiz.test_day %></p>
<p>Created by <%= Instructor.find(@quiz.instructor_id).first_name %> <%= Instructor.find(@quiz.instructor_id).last_name %></p>

<!-- I did some styling here, move to css files later -->
<% @quiz.questions.each do |question| %>
  <h4><%= question.id %>: <%= question.content %></h4>
  <% question.answers.each do |answer| %>
    <% if @quiz.test_day == Date.today && current_user.class == Student %>
      <%= radio_button_tag(question.id, answer.choice) %>
      <%= label_tag(question.id, answer.choice) %>
    <% else %>
      <% if answer.is_correct %>
        <li style="font-weight: bolder"><%= answer.choice %></li>
      <% else %>
        <li style="color: gray"><%= answer.choice %></li>
      <% end %>
    <% end %>
  <% end %>
<% end %>