<h1>Sign-up Screen</h1>

<%= form_tag '/signup' do %>
  <!-- Second input is the value, so we set to nil -->
  <%= text_field_tag :email, nil, placeholder: "Email"%>
  <%= text_field_tag :first_name, nil, placeholder: "First Name"%>
  <%= text_field_tag :last_name, nil, placeholder: "Last Name"%>    
  <%= password_field_tag :password, nil, placeholder: "Password" %>
  <%= select_tag :user, "<option>Instructor</option><option>Student</option>".html_safe %>
  <%= submit_tag value="Sign-Up" %>
<% end %>